.nav-menu {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    z-index: 2;
    cursor: pointer;
    border-color: #b4b7ba;
    border-style: solid;
    border-width: 2px 2px 2px 0;
    background: #fff;
}

.nav-menu .menu-item {
    padding: 1em;
    font-family: "TerumoBCTThin";
    font-size: 1.25em;
    transition: all 0.25s;
}


.nav-menu .menu-item:hover {
    background: #eceded;
}

.nav-menu .menu-item.active {
    background: #dadbdc;
}